<aside>
ðŸ’¡ **Question 1**

A permutation perm of n + 1 integers of all the integers in the range [0, n] can be represented as a string s of length n where:

- s[i] == 'I' if perm[i] < perm[i + 1], and
- s[i] == 'D' if perm[i] > perm[i + 1].

Given a string s, reconstruct the permutation perm and return it. If there are multiple valid permutations perm, return **any of them**.

**Example 1:**

**Input:** s = "IDID"

**Output:**

[0,4,1,3,2]

</aside>

In [3]:
def reconstruct_permutation(s):
  n=len(s)
  perm=[]
  start=0
  end=n
  for c in s:
    if c=="I":
      perm.append(start)
      start+=1
    elif c=="D":
      perm.append(end)
      end-=1
  perm.append(start)
  return perm

s = "IDID"
reconstruct_permutation(s)
print(reconstruct_permutation(s))

[0, 4, 1, 3, 2]

<aside>
ðŸ’¡ **Question 4**

Given a binary array nums, return *the maximum length of a contiguous subarray with an equal number of* 0 *and* 1.

**Example 1:**

**Input:** nums = [0,1]

**Output:** 2

**Explanation:**

[0, 1] is the longest contiguous subarray with an equal number of 0 and 1.

</aside>

In [28]:
def findMaxLength(nums):
  maxLen=0
  count=0
  prefixSum={0:-1}
  for i in range(len(nums)):
    if nums[i]==0:
      count-=1
    else:
      count+=1
    if count in prefixSum:
      maxLen=max(maxLen,i-prefixSum[count])
    else:
      prefixSum[count]=1
  return maxLen

nums = [0,1]
findMaxLength(nums)
print(findMaxLength(nums))

2

<aside>
ðŸ’¡ **Question 5**

The **product sum** of two equal-length arrays a and b is equal to the sum of a[i] * b[i] for all 0 <= i < a.length (**0-indexed**).

- For example, if a = [1,2,3,4] and b = [5,2,3,1], the **product sum** would be 1*5 + 2*2 + 3*3 + 4*1 = 22.

Given two arrays nums1 and nums2 of length n, return *the **minimum product sum** if you are allowed to **rearrange** the **order** of the elements in* nums1.

**Example 1:**

**Input:** nums1 = [5,3,4,2], nums2 = [4,2,2,5]

**Output:** 40

**Explanation:**

We can rearrange nums1 to become [3,5,4,2]. The product sum of [3,5,4,2] and [4,2,2,5] is 3*4 + 5*2 + 4*2 + 2*5 = 40.

</aside>

In [25]:
def minProductSum(nums1,nums2):
  nums1.sort()
  nums.sort(reverse=True)
  result=0
  for i in range(len(nums1)):
    result+=nums1[i]*nums2[i]
  return result

In [29]:
nums1 = [5,3,4,2]
nums2 = [4,2,2,5]
print(minProductSum(nums1,nums2))

47

<aside>
ðŸ’¡ **Question 6**

An integer array original is transformed into a **doubled** array changed by appending **twice the value** of every element in original, and then randomly **shuffling** the resulting array.

Given an array changed, return original *if* changed *is a **doubled** array. If* changed *is not a **doubled** array, return an empty array. The elements in* original *may be returned in **any** order*.

**Example 1:**

**Input:** changed = [1,3,4,2,6,8]

**Output:** [1,3,4]

**Explanation:** One possible original array could be [1,3,4]:

- Twice the value of 1 is 1 * 2 = 2.
- Twice the value of 3 is 3 * 2 = 6.
- Twice the value of 4 is 4 * 2 = 8.

Other original arrays could be [4,3,1] or [3,1,4].

</aside>

In [11]:
def findOriginalArray(changed):
  if len(changed)%2!=0:
    return[]

  changed.sort()
  

  original=[]
  used=set()


  for num in changed:
    half=num//2
    if half in used:
      original.append(half)
      used.remove(half)
    else:
      used.add(num)
  if len(used)==0:
    return original

  return[]

In [12]:
  changed= [1,3,4,2,6,8]
  findOriginalArray(changed)
  print(findOriginalArray(changed))

[1, 3, 4]